@font-face {
    font-family: SanFran;
    src: url(./font/san.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(./font/BebasNeue.ttf);
}

@font-face {
    font-family: Mono;
    src: url(./font/monofonto.ttf);
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: url('./Image/ignasi_pattern_s.png');
    font-family: "SanFran";
    font-size: 62.5%;
    letter-spacing: 1.5px;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
}

ul>li {
    list-style: none;
}

.card, .resetBtn {
    cursor: pointer;
}

.btn {
    border: none;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 0.8em;
    width: 10em;
}

/*----------------------------------  
Header
------------------------------------*/

header {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 14em;
    font-weight: 400;
    font-family: 'Bebas';
}

h2 {
    font-size: 3.5em;
    font-weight: 400;
    font-family: 'Bebas';
    padding-bottom: 5px;
}

.headerImg {
    position: absolute;
    right: 0;
    bottom: 0vh;
    z-index: -3;
    width: 30vw;
}

p {
    font-size: 2em;
    padding: 23px;
}

h3 {
    font-weight: 400;
}

/*----------------------------------  
Section - Score Panel
------------------------------------*/

.scorePanel {
    font-size: 1.4em;
    padding: 1em 0 2em;
}

.starRating>li {
    display: inline-block;
    padding: 0.5em;
}

.movesCounter {
    padding: 0.5em;
}

.resetBtn {
    background: #000;
}

.timerContainer {
    background: #fff;
    border-radius: 0.5em;
    color: #000;
    margin: 0.5em;
    padding: 0.5em;
}

.timer {
    font-size: 1em;
}

/*----------------------------------  
Section - Modal
------------------------------------*/

/* Modal (background) */

.modal {
    /*Hidden by default */
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Fallback color */
    background-color: rgb(46, 61, 73);
    /* With opacity */
    background-color: rgba(46, 61, 73, 0.6);
}

/* Modal Content/Box */

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./Image/backgrndModal.jpg) center center / cover no-repeat;
    margin: 5% auto;
    border: 0.8em solid rgb(0, 0, 0);
    padding-right: 2em;
    width: 900px;
    height: 510px;
    border-radius: 20px;
    font-family: 'Mono';
    font-weight: 600;
    color: #51a55f;
}

/* The Close Button */

.close {
    align-self: flex-end;
    color: #51a55f;
    font-size: 5em;
}

.close:hover, .close:focus {
    color: #5cf;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Image*/

.modalImg {
    display: inline-block;
    margin: 1em 0 1em;
    width: 20em;
}

p.stats {
    font-family: 'Mono';
    font-weight: 600;
    color: #51a55f;
}

p.stats:last-child {
    margin-bottom: 1em;
}

.playAgainBtn {
    background: #51a55f;
    margin-bottom: 1em;
    font-family: 'Mono';
    font-size: 17px;
    color: black;
    width: 10em;
}

/*----------------------------------  
Deck of Cards
------------------------------------*/

/*Mobile first responsivness*/

.deck {
    background: linear-gradient(to bottom, #5cf, #28e);
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 65em;
    margin-bottom: 3em;
    padding: 0.5em;
    width: 101em;
}

.deck, .card {
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card {
    background: #fc4;
    border-radius: 0.5em;
    height: 14em;
    width: 22em;
}

img {
    user-select: none;
    width: 12em;
}

.deck img {
    visibility: hidden;
}

.deck .card.flip {
    background: #fff;
    cursor: default;
    transform: rotateY(180deg);
    transition: transform 0.3s linear;
    pointer-events: none;
}

.flip img {
    background: #fff;
    visibility: visible;
}

.deck .card.match {
    background: #39d;
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
}

.match img {
    background: #39d;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 1230px) {
    h1 {
        font-size: 15em;
    }
    h2 {
        font-size: 5.5em;
    }
    .headerImg {
        width: 35vw;
    }
    .deck {
        height: 58em;
        width: 85em;
    }
    .card {
        height: 13em;
        width: 18em;
    }
    img {
        width: 11em;
    }
    p {
        padding-bottom: 20px;
    }
}

@media (max-width: 990px) {
    .headerImg {
        bottom: 0vh;
        width: 38vw;
        right: 0px;
    }
    .btn {
        width: 13em;
        height: 4em;
    }
    .deck {
        height: 46em;
        width: 68em;
    }
    img {
        width: 9em;
    }
    .modalContent {
        width: 720px;
        height: 400px;
    }
    p {
        padding: 0;
        padding-bottom: 10px;
    }
    .btn {
        width: 10em;
        height: 4em;
    }
    .scorePanel {
        padding: 4em 0 2em;
    }
    h1 {
        font-size: 12em;
    }
    h2 {
        font-size: 3.5em;
    }
    .card {
        height: 10em;
        width: 15em;
    }
}

@media (max-width: 770px) {
    .btn {
        margin-bottom: 8em;
    }
    .headerImg {
        bottom: 0vh;
        width: 77vw;
        right: 0px;
    }
    .deck {
        height: 47em;
        width: 53em;
    }
    .card {
        height: 11em;
        width: 12em;
    }
    img {
        width: 10em;
    }
    .modalContent {
        width: 530px;
        height: 300px;
    }
    h2 {
        font-size: 3.5em;
    }
    p {
        font-size: 1.5em;
        padding: 0;
        padding-bottom: 5px;
    }
    .playAgainBtn {
        font-size: 15px;
    }
    .scorePanel {
        font-size: 2.4em;
    }
}

@media (max-width: 376px) {
    h1 {
        font-size: 7em;
    }
    h2 {
        font-size: 3em;
        padding-bottom: 10px;
    }
    .btn {
        width: 10em;
        height: 3em;
    }
    .headerImg {
        width: 80vw;
    }
    .scorePanel {
        padding: 9em 0 5em;
        font-size: 1.5em;
    }
    .deck {
        height: 47em;
        width: 90%;
    }
    .card {
        height: 8em;
        width: 23%;
    }
    img {
        width: 6.9em;
    }
    .modalContent {
        width: 94%;
        height: 210px;
        margin: 50% auto;
    }
    .modalContent h2 {
        font-size: 2em;
        padding-bottom: 4px;
    }
    p {
        font-size: 9px;
        padding: 0;
        padding-bottom: 0px;
    }
    .playAgainBtn {
        font-size: 9px;
        margin: 2em;
    }
    .close {
        align-self: flex-end;
        color: #51a55f;
        font-size: 2em;
    }
}